---
http_interactions:
- request:
    method: get
    uri: https://api.datamarket.azure.com/Data.ashx/opendata.rdw/VRTG.Open.Data/v1/KENT_VRTG_O_DAT('67YA03')
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml
      Dataserviceversion:
      - 1.0;
      Activityid:
      - eb79bbb3-6def-4cd6-8aed-8efc3a90b8d4
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\r\n<entry
        xml:base=\"https://api.datamarket.azure.com/Data.ashx/opendata.rdw/VRTG.Open.Data/v1/\"
        xmlns:d=\"http://schemas.microsoft.com/ado/2007/08/dataservices\" xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"
        xmlns=\"http://www.w3.org/2005/Atom\">\r\n  <id>https://api.datamarket.azure.com/Data.ashx/opendata.rdw/VRTG.Open.Data/v1/KENT_VRTG_O_DAT('67YA03')</id>\r\n
        \ <title type=\"text\"></title>\r\n  <updated>2014-03-12T06:41:14Z</updated>\r\n
        \ <author>\r\n    <name />\r\n  </author>\r\n  <link rel=\"edit\" title=\"KENT_VRTG_O_DAT\"
        href=\"KENT_VRTG_O_DAT('67YA03')\" />\r\n  <category term=\"opendata.rdw.VRTG.Open.Data.KENT_VRTG_O_DAT\"
        scheme=\"http://schemas.microsoft.com/ado/2007/08/dataservices/scheme\" />\r\n
        \ <content type=\"application/xml\">\r\n    <m:properties>\r\n      <d:Aantalcilinders
        m:type=\"Edm.Int16\">4</d:Aantalcilinders>\r\n      <d:Aantalstaanplaatsen
        m:type=\"Edm.Int16\" m:null=\"true\" />\r\n      <d:Aantalzitplaatsen m:type=\"Edm.Int16\"
        m:null=\"true\" />\r\n      <d:BPM m:type=\"Edm.Int32\" m:null=\"true\" />\r\n
        \     <d:Brandstofverbruikbuitenweg m:type=\"Edm.Decimal\" m:null=\"true\"
        />\r\n      <d:Brandstofverbruikgecombineerd m:type=\"Edm.Decimal\" m:null=\"true\"
        />\r\n      <d:Brandstofverbruikstad m:type=\"Edm.Decimal\" m:null=\"true\"
        />\r\n      <d:Catalogusprijs m:type=\"Edm.Int32\" m:null=\"true\" />\r\n
        \     <d:Cilinderinhoud m:type=\"Edm.Int32\" m:null=\"true\" />\r\n      <d:CO2uitstootgecombineerd
        m:type=\"Edm.Int16\" m:null=\"true\" />\r\n      <d:Datumaanvangtenaamstelling
        m:type=\"Edm.DateTime\">2010-04-10T00:00:00</d:Datumaanvangtenaamstelling>\r\n
        \     <d:DatumeersteafgifteNederland m:type=\"Edm.DateTime\">2002-09-11T00:00:00</d:DatumeersteafgifteNederland>\r\n
        \     <d:Datumeerstetoelating m:type=\"Edm.DateTime\">1977-01-27T00:00:00</d:Datumeerstetoelating>\r\n
        \     <d:Eerstekleur>BLAUW</d:Eerstekleur>\r\n      <d:G3installatie>Nee</d:G3installatie>\r\n
        \     <d:Handelsbenaming>221811</d:Handelsbenaming>\r\n      <d:Hoofdbrandstof>LPG
        (Liquified Petrol Gas)</d:Hoofdbrandstof>\r\n      <d:Inrichting>MPV</d:Inrichting>\r\n
        \     <d:Kenteken>67YA03</d:Kenteken>\r\n      <d:Laadvermogen m:type=\"Edm.Int32\"
        m:null=\"true\" />\r\n      <d:Massaleegvoertuig m:type=\"Edm.Int32\">1321</d:Massaleegvoertuig>\r\n
        \     <d:Massarijklaar m:type=\"Edm.Int32\">1421</d:Massarijklaar>\r\n      <d:Maximaleconstructiesnelheid
        m:type=\"Edm.Int16\" m:null=\"true\" />\r\n      <d:Maximumtetrekkenmassaautonoomgeremd
        m:type=\"Edm.Int32\" m:null=\"true\" />\r\n      <d:Maximumtetrekkenmassageremd
        m:type=\"Edm.Int32\">1000</d:Maximumtetrekkenmassageremd>\r\n      <d:Maximumtetrekkenmassamiddenasgeremd
        m:type=\"Edm.Int32\" m:null=\"true\" />\r\n      <d:Maximumtetrekkenmassaongeremd
        m:type=\"Edm.Int32\" m:null=\"true\" />\r\n      <d:Maximumtetrekkenmassaopleggergeremd
        m:type=\"Edm.Int32\" m:null=\"true\" />\r\n      <d:Merk>VOLKSWAGEN</d:Merk>\r\n
        \     <d:Milieuclassificatie>Niet geregistreerd</d:Milieuclassificatie>\r\n
        \     <d:Nevenbrandstof>Niet geregistreerd</d:Nevenbrandstof>\r\n      <d:Retrofitroetfilter>Nee</d:Retrofitroetfilter>\r\n
        \     <d:Toegestanemaximummassavoertuig m:type=\"Edm.Int32\">2250</d:Toegestanemaximummassavoertuig>\r\n
        \     <d:Tweedekleur>WIT</d:Tweedekleur>\r\n      <d:Vermogen m:type=\"Edm.Int16\"
        m:null=\"true\" />\r\n      <d:Vermogenbromsnorfiets m:type=\"Edm.Decimal\"
        m:null=\"true\" />\r\n      <d:VervaldatumAPK m:type=\"Edm.DateTime\">2014-09-16T00:00:00</d:VervaldatumAPK>\r\n
        \     <d:Voertuigsoort>Personenauto</d:Voertuigsoort>\r\n      <d:Wachtopkeuren>Nee</d:Wachtopkeuren>\r\n
        \     <d:WAMverzekerdgeregistreerd>Ja</d:WAMverzekerdgeregistreerd>\r\n      <d:Zuinigheidslabel
        m:null=\"true\" />\r\n    </m:properties>\r\n  </content>\r\n</entry>"
  recorded_at: Wed, 12 Mar 2014 06:41:01 GMT
recorded_with: VCR 2.8.0
